<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
</head>
<style type="text/css">
  a {
    padding: 10px;
  }
</style>
<body>

    <%- include partials/_header.ejs %>
    <ul>
    <% for (var url in urls) { %>
      <li style="margin: 10px;">
        <a href="/u/<%= url %>"><%= `${url} ==> ` %></a>
        <%= urls[url] %>
        <a href="/urls/<%= url %>">Edit</a>
        <form method="POST" action="/urls/<%= url %>/delete" style="display: inline-block;">
          <button>DELETE</button>
        </form>
      </li>
    <% } %>

    <% if(useremail) { %>
      <li><a href="/urls/new">Shorten new url?</a></li>
    <% } %>
    </ul>
</body>
</html>