<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <%- include partials/_style.ejs %>
</head>
<body>

    <%- include partials/_header.ejs %>
    <div id="go-new"><a href="/urls/new"><div>shorten new</div></a></div>
    <ul id="list-ul">
    <% if(useremail) { %>
      <% if(Object.keys(urls).length > 0) { %>
        <li id="table-title">
          <span>tiny link</span>
          <span>original link</span>
        </li>
        <% for (var url in urls) { %>
          <li>
            <hr>
            <a href="/u/<%= url %>"><%= `${url}` %></a>
            <a href="#"><%= urls[url].long %></a>
            <a href="/urls/<%= url %>">
              <div class="navig-link-reverse table-nav">edit</div>
            </a>
            <form method="POST" action="/urls/<%= url %>?_method=DELETE" id="faded" class="inline table-nav">
              <button>delete</button>
            </form>
          </li>
        <% } %>
      <% } else { %>
        <h3>You have no links saved, shorten new links to witness the awesomeness</h3>
      <% } %>
    <% } %>
    </ul>
</body>
</html>