<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <%- include partials/_style.ejs %>
</head>
<body>
    <%- include partials/_header.ejs %>
    <dl>
      <dt>short url:</dt> 
      <dd><a href="/u/<%= shortURL %>"><%= shortURL %></a></dd>
      <dt>original url</dt>
      <dd>
        <form class="inline" method="POST" action="/urls/<%= shortURL %>">
            <label for=longURL></label><input type="textbox" name="longURL" value="<%= fullURL %>"><button>update</button>
        </form>
        <form id="faded" class="inline" method="POST" action="/urls/<%= shortURL %>/delete">
            <button>delete</button>
        </form>
      </dd>
    </dl>
    <br>
    <hr>
    <nav>
      <a href="/urls"><div class="navig-link">my links</div></a>
      <a href="/urls/new"><div class="navig-link-reverse">shorten new</div></a>
    </nav>
</body>
</html>